
body {
    font-family: 'Roboto', Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    background-image: url('media/Background.jpg');
    background-size: cover;
    background-position: center;
}

header, footer {
    background-color: #3498db; 
    text-align: center;
    padding: 20px;
    color: #fff; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section, aside {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff; 
}

img {
    max-width: 100%;
    height: auto;
}


.float-left {
    float: left;
    margin-right: 20px;
    max-width: 100%; 
    height: auto; 
}

@media only screen and (min-width: 769px) {
    .float-left {
        clear: both; /* Clear the float before the next element */
    }
}

@media only screen and (max-width: 768px) {
    


    .main-content {
        flex-direction: column; 
    }

    section, aside {
        width: 100%; 
    }


    h2 {
        font-size: 24px; 
    }
}

@media only screen and (max-width: 480px) {
    
    h2 {
        font-size: 20px; 
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db; 
    color: #fff;
}
